@use '../../styles/variables' as *;

.wrapper {
  background-color: $accent-color;
  color: #fff;
  padding: 12px 20px;
  font-size: $standard-font-size;
  font-weight: $standard-font-title-weight;
  border-radius: 8px;
  border: none;
  text-align: center;
  transition: all 0.3s ease;
  width: 150px;

  &:hover {
    cursor: pointer;
    background-color: $accent-hover;
    transform: scale(1.03);
  }
}