$bg-color: #0f172a;
$card-bg-color: #1e293b;
$card-text-color: #f1f5f9;

$accent-color: #3b82f6;
$accent-hover: #2563eb;

$standard-font-size: 16px;
$standard-font-title-size: 22px;

$standard-font-weight: 400;
$standard-font-title-weight: 600;