$bg-color: #0f172a;
$bg-color2: #132347;
$bg-color3: #0b1630;
$card-bg-color: #1e293b;
$card-text-color: #f1f5f9;

$accent-color: #3b82f6;
$accent-hover: #2563eb;

$accent-color-dis: #112442;
$accent-hover-dis: #19345f;

$standard-font-size: 16px;
$standard-font-title-size: 22px;

$standard-font-weight: 400;
$standard-font-title-weight: 600;

$layout-size: 1500px;

$margin-m: 20px;