$bg-color: #0f172a;
$bg-color2: #132347;
$bg-color3: #0b1630;
$card-bg-color: #1e293b;
$card-text-color: #f1f5f9;

$accent-color: #3b82f6;
$accent-hover: #2563eb;

$accent-color-dis: #112442;
$accent-hover-dis: #19345f;

$standard-font-size: 16px;
$standard-font-title-size: 22px;

$standard-font-weight: 400;
$standard-font-title-weight: 600;

$layout-size: 1500px;

$margin-m: 20px;

// NEW constants for lesson4

$primary-color: #007bff;
$hover-color: #0056b3;
$background-color: #f4f4f9;
$border-color: #ccc;
$text-color: #333;
$light-text-color: #555;
$button-padding: 10px 20px;
$input-padding: 10px;
$border-radius: 4px;