@use '../../styles/variables' as *;

.wrapper {
    position: relative;
    width: 50vw;
    min-height: 115vh;
    background-color: $bg-color2;
    align-self: center;
    justify-self: center;

    &__title, &__shop_title {
        position: absolute;
        font-size: 40px;
        color: white;
        font-weight: 600;
        left: 50%;
        transform: translateX(-50%);
        top: 20px;
    }

    &__clickerIMG {
        width: 128px;
        height: 128px;
        transition: transform 0.35s ease-in-out;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
        border-radius: 20px;

        &:hover {
            cursor: pointer;
            transform: translateX(-50%) scale(1.1) ;
        }
    }

    &__currentMoney, &__currentClicks, &__currentMulti {
        font-size: 24px;
        font-weight: 600;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 260px;
    }

    &__currentClicks {
        top: 300px
    }

    &__currentMulti {
        top: 340px;
    }

    &__shop_title {
        top: 400px;
    }
}

.upgradesBox {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    max-width: 45vw;
    left: 50%;
    transform: translateX(-50%);
    top: 500px;

    &__upgr {
        position: relative;
        width: 192px;
        height: 192px;
        background-color: $bg-color3;
        border-radius: 12px;
        transition: transform 0.35s ease-in-out;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.5);

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        button {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);

            &:hover {
                transform: translateX(-50%) scale(1.03);
            }
        }

        &__cost, &__multi {
            font-size: 21px;
            position: relative;
            top: 20px;
            left: 20px;
            font-weight: 600;
            color: rgb(255, 255, 255);
            max-width: 185px;
        }

        &__multi {
            top: 30px;
        }
    }
}

.clearButtons {
    position: relative;
    left: 100px;
    top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
}