@use "../../styles/variables" as *;

.wrapper {
    position: relative;
    align-self: center;
    justify-self: center;
    width: 400px;
    height: 500px;
    background-color: $bg-color3;
    border-radius: 12px;

    &__title {
        position: relative;
        align-self: center;
        justify-self: center;
        top: 50px;
        font-weight: $standard-font-title-weight;
        font-size: 28px;
    }

    &__form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
}